// Breakpoints
$break-point-sm: 576px;
$break-point-md: 1100px;
$break-point-lg: 995px;

// Shadows
$box-shadow1: 0 0 2rem 1px rgba(0, 0, 0, .1);
$box-shadow2: 0 1.5rem 4rem rgba(0, 0, 0, .15);
$box-shadow3: 0 1.5rem 4rem rgba(0, 0, 0, .4);
$box-shadow4: 0 3rem 6rem rgba(0, 0, 0, .1);
