// Basic            
    // Inputs     
    // Validation                              
    // Default Radio/Checkbox                  
    // Radio Button
    // Checkbox
    // Toggle
    // Radio Group
    // File Upload

// Awesome Form

// Natours




/* ================================================================================
   Basic
================================================================================ */


.input-container {
    margin-bottom: 2.5rem;
}

/* ================================================================================
   INPUTS & SELECT
================================================================================ */

/* HTML ===========================================================================

    <div className="input-container">
        <label htmlFor="input">Username</label>
        <input className="input" type="text" placeholder="Enter username" />
    </div>

================================================================================ */


.input-container .input, .input-container .select {
    display: block;
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
    color: #495058;
}

.input, .select {
    padding: 7px 14px;
    border-radius: 4px;
    font-family: Lato;
    font-size: 1.5rem;
    border: 1px solid gainsboro;
    background-color: white;
}


.input:focus, .select:focus {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
    outline: none;
    border: 1px solid rgba(0, 123, 255, 0.486);
}

.input-container label {
    font-family: Lato;
    font-size: 1.6rem;
    color: #212529;
}

/* ============================================================================================
   VALIDATION
============================================================================================ */

/* HTML =======================================================================================

    <div className="input-container">
        <label htmlFor="input">Password</label>
        <input className="input valid-feedback" type="password" placeholder="Enter password" />
        <small className="valid-feedback">Looks good</small>
    </div>

============================================================================================ */

.valid-feedback {
    color: #28A745;
}

.input.valid-feedback {
    border-color: #28a745;
}


.input.valid-feedback:focus, .input.valid-feedback:active {
    box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.25);
}

.invalid-feedback {
    color: #DD3444;
}    

.input.invalid-feedback {
    border-color: #dd3444;
}

.input.invalid-feedback:focus, .input.invalid-feedback:active {
    box-shadow: 0 0 0 3px rgba(221, 52, 68, 0.25);
}


/* ================================================================================
   DEFAULT RADIO/CHECKBOX
================================================================================ */

.default-checkbox, .default-radio {
    margin-right: 10px;
    margin-bottom: 25px;
}

label.default-label {
    margin-right: 30px;
}

.input:disabled, .select:disabled {
    background: #ECF0F1;
}

.input:disabled::placeholder {
    color: #95A5A6;
}


/* ================================================================================
   RADIO BUTTON
================================================================================ */

/* HTML ===========================================================================
    
    <div className="input-container">
        <label htmlFor="visual" className="radio"> 
            <input type="radio" name="radio" id="visual" className="radio-input" />
            <div className="radio-circle"></div>
            <div className="radio-label">Visual Studio Code</div> 
        </label>
    </div>

================================================================================ */

.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
    color: #95A5A6;
}

.radio-input {
    display: none;
}

.radio-circle {
    width: 1.25em;
    height: 1.25em;
    border: 1px solid #B9C1C6;
    border-radius:  50%;
    margin-right: 10px;
    padding: 3px; 
}

.radio-circle::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #007bff;
    border-radius:  50%;
    transform: scale(0);
    transition: transform 0.15s;
}

.radio-input:checked + .radio-circle::after {
    transform: scale(1);
}

.radio-input:disabled + .radio-circle {
    border-color: #B9C1C6;
    padding: 0;
}

.radio-input:disabled + .radio-circle::after {
    transform: scale(1);
    background: #ECF0F1;
}

.radio-input:disabled ~ .radio-label {
    color: #95A5A6;
}

/* ================================================================================
   CHECKBOX
================================================================================ */

/* HTML ===========================================================================
   
    <div className="input-container">
        <label htmlFor="mac" className="checkbox">
            <input type="checkbox" name="mac" className="checkbox-input" id="mac"/>
            <div className="checkbox-box"></div>
                <div className="checkbox-label">Mac</div> 
        </label>
    </div>

================================================================================ */

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
}

.checkbox-input {
    display: none;
}

.checkbox-box {
    width: 1.25em;
    height: 1.25em;
    border: 1px solid #B9C1C6;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
    transition: background 0.15s, border-color 0.15s;
}

.checkbox-box::after {
    content: '\2714';
    font-size: 0.8em;
    color: #fff;
    transform: scale(0);
    transition: transform 0.15s;
} 
.checkbox-input:checked + .checkbox-box {
    background: #007bff;
    border-color: #007bff;
} 

.checkbox-input:checked + .checkbox-box::after {
    transform: scale(1);
} 

.checkbox-input:disabled ~ .checkbox-label {
    color: #95A5A6;
}

.checkbox-input:disabled + .checkbox-box {
    background: #ECF0F1;
}


/* ================================================================================
   TOGGLE
================================================================================ */

/* HTML ===========================================================================

    <div className="input-container">
        <label htmlFor="darkmode" className="toggle">
            <input type="checkbox" id="darkmode" className="toggle-input" />
            <div className="toggle-fill"></div>
            <div className="toggle-label">Darkmode</div> 
        </label>
    </div>

================================================================================ */

.toggle {
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) /2);
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.toggle-input {
    display: none;
}

.toggle-fill {
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: #dddddd;
    transition: background 0.2s;
    margin-right: 10px;
}

.toggle-input:checked ~ .toggle-fill {
    background: #007bff;
}

.toggle-fill::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
    transition: transform 0.2s; 
}

.toggle-input:checked ~ .toggle-fill::after {
    transform: translateX(var(--height));
}

.toggle-input:disabled ~ .toggle-label {
    color: #95A5A6;
}

.toggle-input:disabled ~ .toggle-fill {
    background: #ECF0F1;
}


/* ======================================================================================================
   RADIO GROUP
====================================================================================================== */

/* HTML =================================================================================================

    <div className="input-container radio-group">
        <input className="radio-group-input" type="radio" value="option1" name="myRadio" id="myRadio1"/>
        <label className="radio-group-label" htmlFor="myRadio1">10</label>

        <input className="radio-group-input" type="radio" value="option2" name="myRadio" id="myRadio2"/>
        <label className="radio-group-label" htmlFor="myRadio2">20</label>

        <input className="radio-group-input" type="radio" value="option3" name="myRadio" id="myRadio3"/>
        <label className="radio-group-label" htmlFor="myRadio3">30</label>
    </div>

====================================================================================================== */

.radio-group {
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.radio-group-input {
    display: none; 
}

.radio-group-label {
    padding: 8px 14px; 
    font-size: 1.4rem;
    font-family: inherit;
    color: #fff !important;
    background: #007bff; 
    cursor: pointer;
    transition: background .1s;
}

.radio-group-label:not(:last-of-type) {
    border-right: 1px solid #016fe6;
}

.radio-group-input:checked + .radio-group-label {
    background: #0065d1; 
}


/* ===========================================================================================
   FILE UPLOAD
=========================================================================================== */

/* HTML ======================================================================================
    
    <div className="input-container">
        <input type="file" name="" id="real-file" hidden="hidden" />
        <button className="btn" type="button" id="custom-button">Browse</button>
        <span className="file-label" id="custom-text">No file chosen</span>
    </div>

=========================================================================================== */

/* JavaScript ================================================================================
    
    const realFileBtn = document.getElementById('real-file');
    const customBtn = document.getElementById('custom-button');
    const customText = document.getElementById('custom-text');

    customBtn.addEventListener('click', function() {
        realFileBtn.click();
    })

    realFileBtn.addEventListener('change', function() {
        if(realFileBtn.value) {
            customText.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
        } else {
            customText.innerHTML = "No file chosen";
        }
    })

============================================================================================ */

.file-label {
    margin-left: 15px;
    color: #95A5A6;
}



/* =================================================================================================
   Awesome Form
================================================================================================= */

/* HTML ============================================================================================
    
    <form className="form_awesome">
        <div className="input-container_awesome">
            <input autoComplete="off" type="text" name="name" id="name" className="input_awesome" />
            <label htmlFor="name">Name</label>
            <span>Name</span>
        </div>
        <div className="input-container_awesome textarea_awesome">
            <textarea name="message" className="input_awesome" />
            <label htmlFor="message">Message</label>
            <span>Message</span>
        </div>
        <input type="submit" value="Submit" className="btn_awesome" />
    </form>

============================================================================================== */

/* JavaScript ===================================================================================

    const inputs = document.querySelectorAll(".input_awesome");

    function focusFunc(e) {
        let parent = e.target.parentElement;
        parent.classList.add('focus');
    }

    function blurFunc(e) {
        let parent = e.target.parentElement;

        if (e.target.value === "") {
            parent.classList.remove('focus');
        }
    }

    inputs.forEach(input => {
        input.addEventListener("focus", focusFunc);
        input.addEventListener("blur", blurFunc);
    })

============================================================================================== */

.input_awesome, .input-container_awesome label {
    font-family: Poppins;
}

.form_awesome {
    width: 100%;
    background:#C96EDC;
    padding: 2rem;
    border-radius: 17px;
    box-shadow: 0 0 2rem 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.input-container_awesome {
    position: relative;
    margin: 1.6rem 0;
}

.input_awesome {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    padding: 0.9rem 1.9rem;
    border-radius: 2.5rem;
    background: none;
    color: #fafafa;
    font-weight: 600;
    font-size: 1.6rem;
}

// Text area
textarea.input_awesome {
    padding: 1.3rem 1.9rem;
    min-height: 15rem;
    border-radius: 2.2rem;
    resize: none;
    overflow-y: auto;
    color: #fafafa;
    font-weight: 600;
    font-size: 1.6rem;
}

// Label
.input-container_awesome label {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    padding: 0 0.6rem;
    color:#fafafa;
    font-size: 1.4rem;
    font-weight: 400;
    pointer-events: none;
    transition: 0.3s;
    z-index: 1000;
}

// Text area label
.input-container_awesome.textarea_awesome label {
    top: 1.6rem;
    transform: translateY(0);
}


.input-container_awesome.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 1.2rem;
}

.input-container_awesome span {
    position: absolute;
    top: 0;
    left: 25px; 
    transform: translateY(-50%);
    font-size: 1.3rem;
    padding: 0 0.6rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container_awesome span::before,
.input-container_awesome span::after {
    content: '';
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #C96EDC;
    top: 50%;
    transform: translateY(-50%);
}

.input-container_awesome span::before {
    left: 50%;
}

.input-container_awesome span::after {
    right: 50%;
}

.input-container_awesome.focus span::before,
.input-container_awesome.focus span::after {
    width: 50%;
    opacity: 1;
}


/* ===================================
   Natours
==================================== */

.form-group_natours:not(:last-child) {
    margin-bottom: 2rem; 
}

.input_natours {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: ghostwhite;
    border: none;
    font-family: inherit;
    border-bottom: 3px solid transparent;
    width: 90%
}

.input_natours:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-bottom: 3px solid mediumpurple;
}

.label_natours {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
}

// Select adjacent sibling only
.input_natours:placeholder-shown + .label_natours {
    opacity: 0;
    transform: translateY(-4rem);
}