// Basic List
    // Card List with header
    // Horizontal list
    // List with badges

/* ================================================================================
   CARD LIST
================================================================================ */

/* HTML ===========================================================================

    <ul className="list-group">
        <li className="list-group-item">Featured</li>
        <li className="list-group-item">Cras justo odio</li>
        <li className="list-group-item">Dapibus ac facilisis in</li>
    </ul>

================================================================================ */

.list-group {
    margin-bottom: 2rem;
}

.list-group-item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1.2rem 2rem;
    background-color: #fff;
    border: 0px solid rgba(0,0,0,.125);
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px; 
}

.list-group-item:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-width: 1px;
    background-color: rgba(0,0,0,.03);
}


.list-group-item:last-of-type {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-width: 1px;
}


/* ================================================================================
   HORIZONTAL LIST
================================================================================ */

/* HTML ===========================================================================

    <ul className="list-group list-group-horizantal">
        <li className="list-group-item">Featured</li>
        <li className="list-group-item">Cras justo odio</li>
        <li className="list-group-item">Dapibus ac facilisis in</li>
    </ul>

================================================================================ */

.list-group-horizontal {
    display: flex;
    flex-direction: row;
}

.list-group-horizontal > .list-group-item {
    border-bottom-width: 1px;
    border-top-width: 1px;
}

.list-group-horizontal > .list-group-item:not(:last-of-type) {
    border-right-width: 0;
}

.list-group-horizontal>.list-group-item:first-of-type {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
}

.list-group-horizontal>.list-group-item:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
}

/* ================================================================================
   LIST WITH BADGES
================================================================================ */

/* HTML ===========================================================================

    <ul className="list-group">
        <li className="list-group-item">Featured </li>
        <li className="list-group-item">Cras justo odio 
            <span className="badge badge-pill">16</span>
        </li>
        <li className="list-group-item">Dapibus ac facilisis in 
            <span className="badge badge-pill">22</span>
        </li>
        <li className="list-group-item">Vestibulum at eros
            <span className="badge badge-pill">12</span> 
        </li>
    </ul>

================================================================================ */