// Natours
    // Pop-out navigation
    // Burger navigation

/* ===================================
   Pop-out navigation
==================================== */

.navigation_natours {
    border-top: 1px solid silver;
    display:inline-block;
    padding-top: 2rem;
}


.navigation-item_natours {
    display: inline-block;
}

.navigation-item_natours:not(:last-child) {
    margin-right: 5rem;
}

.navigation-link_natours:link, 
.navigation-link_natours:visited {
    // text-transform: uppercase;
    color: slategray;
    display: inline-block;
    transition: all 0.2s;
    background-color: #fff;
}

.navigation-link_natours:hover, 
.navigation-link_natours:active {
    color: mediumpurple;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.2);
}


/* ================================================================================
   Burger navigation
================================================================================ */

/* HTML ===========================================================================

    <div class="burger-navigation_natours">
        <input type="checkbox" id="burger-navigation-toggle" class="burger-navigation-checkbox_natours"/>
        <label htmlFor="burger-navigation-toggle" class="burger-navigation-btn_natours">
            <span class="burger-navigation-icon_natours"></span>
        </label>
        <div class="burger-navigation-background_natours"></div>

        <nav class="burger-navigation-nav_natours">
            <ul class="burger-navigation-list_natours">
                <li class="burger-navigation-item_natours"><a href="" class="burger-navigation-link_natours">Home</a></li>
                <li class="burger-navigation-item_natours"><a href="" class="burger-navigation-link_natours">Products</a></li>
                <li class="burger-navigation-item_natours"><a href="" class="burger-navigation-link_natours">About</a></li>
                <li class="burger-navigation-item_natours"><a href="" class="burger-navigation-link_natours">Contact</a></li>
            </ul>
        </nav>
    </div>

================================================================================ */

// Invisible checkbox
.burger-navigation-checkbox_natours {
    display: none;
}

// Label white button
.burger-navigation-btn_natours {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
    text-align: center;
    cursor: pointer;
}

// Navigation icon
.burger-navigation-icon_natours {
    position: relative;
    margin-top: 3.5rem;
}

.burger-navigation-icon_natours,
.burger-navigation-icon_natours::before,
.burger-navigation-icon_natours::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
}

.burger-navigation-icon_natours::before,
.burger-navigation-icon_natours::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.burger-navigation-icon_natours::before {
    top: -.8rem;
}

.burger-navigation-icon_natours::after {
    top: .8rem;
}

// Navigation icon hover
.burger-navigation-btn_natours:hover .burger-navigation-icon_natours::before {
    top: -1rem;
}

.burger-navigation-btn_natours:hover .burger-navigation-icon_natours::after {
    top: 1rem;
}


// Background
.burger-navigation-background_natours {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient( #fcdb71,  #f8c212);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86 , 0, 0.07, 1);
}

// Navigation list
.burger-navigation-nav_natours {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 1500;

    width: 0;
    opacity: 0;
    transition: all .8s; 
}

.burger-navigation-list_natours {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.burger-navigation-item_natours {
    margin: 1rem;
}

// Navigation links
.burger-navigation-link_natours:link,
.burger-navigation-link_natours:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 5%, transparent 50%, #fff 50%);
    background-size: 230%;
    transition: all .4s; 
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
}

// Navigation links hover
.burger-navigation-link_natours:hover,
.burger-navigation-link_natours:active {
    background-position: 100%;
    color: #f8c212;
    transform: translateX(-1rem);
    text-shadow: none;
}


// Navigation functionality
.burger-navigation-checkbox_natours:checked ~ .burger-navigation-background_natours {
    transform: scale(80);
}

.burger-navigation-checkbox_natours:checked ~ .burger-navigation-nav_natours {
    width: 100%;
    opacity: 1;
}

// When check select the sibling "btn" and its child "icon"
.burger-navigation-checkbox_natours:checked + .burger-navigation-btn_natours .burger-navigation-icon_natours {
    background-color: transparent;
}

// Icon before
.burger-navigation-checkbox_natours:checked + .burger-navigation-btn_natours .burger-navigation-icon_natours::before {
    top: 0;
    transform: rotate(135deg);
}

// Icon after
.burger-navigation-checkbox_natours:checked + .burger-navigation-btn_natours .burger-navigation-icon_natours::after {
    top: 0;
    transform: rotate(-135deg);
}
